@model IEnumerable<DomainModel.BusinessLayer.UserRoles>

@{
    ViewBag.Title = "UserRoles";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="content-header">
    <h1>
        User Roles List
        <small></small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-star"></i>User Roles</a></li>
        <li class="active">List</li>
    </ol>
</section>
<section class="content">
    <div class="box">
        <div class="box-header with-border">
            <h3 class="box-title">
                User Roles [@Html.ActionLink("Create New", "CreateUserRoles")]
            </h3>
            <div class="box-body">
                <div class="row">
                    <div class="col-md-12">
                        @using (@Html.BeginForm(null, null, FormMethod.Post, new { @class = "form-inline" }))
                        {
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label for="minExpDate">Search by Role :</label>                                   
                                    @Html.DropDownList("roles_id", (IEnumerable<SelectListItem>)ViewBag.Roles, "", new { @class = "form-control" })
                                </div>                                
                            </div>
                        }
                    </div>
                </div>
                <br />
                <div class="row">
                    <table class="table table-bordered table-striped" id="tblUserRoles">
                        <thead>
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.displayname)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.role_name)
                                </th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)                                
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.displayname)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.role_name)
                                    </td>
                                    @if (item.id > 0)
                                    {
                                        <td>
                                            @Html.ActionLink("Delete", "DeleteUserRoles", new { id = item.id })
                                        </td>
                                    }
                                    else
                                    {
                                        <td></td>
                                    }                                   
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>
<script type="text/javascript">    
    $(document).ready(function () {
        var table = $('#tblUserRoles').DataTable();
        $("#roles_id").change(function () {
            table.draw();
        })        
    });
    $.fn.dataTable.ext.search.push(
        function (settings, data, dataIndex) {
            var rlid = $('#roles_id').val();
            var usrroles = data[1]; // use data for the role column
            if (rlid != "") {
                if (rlid.toLowerCase() == usrroles.toLowerCase()) {
                    return true;
                }
            } else {
                return true;
            }
        return false;
    }
);    
</script>